<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/static/css/todolist.css">
</head>
<body>

    <br>
    <br>
    <div class="container">
        <table class="table-all">
            <tr>
                <td class="main-td">강민의 ToDoList</td>
            </tr>
            <tr>
                <td class="first">
                    <input type="text" class="content"><button class="add-btn">add추가</button>
                </td>
            </tr>
            <tr>
            	<td>=======================================================================</td>
            </tr>
            <tfoot class="tbody">
	            
            </tfoot>
        </table>
    </div>
    <script type="text/javascript" src="/static/js/todolist.js"></script>
</body>
</html>