<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../css/todolist.css">
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <table>
            <tr>
                <td class="main-td">강민의 ToDoList</td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="content"><button class="add-btn">추가</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="content">
                    <button class="modify-btn">수정</button>
                    <button class="delete-btn">삭제</button>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript" src="../../js/todolist.js"></script>
</body>
</html>