    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    table, tr, td{
        width: 800px;
        border: 1px solid black;
        text-align: left;
        
    }
    .main-td{
        text-align: center;
        width: 800px;
        height: 400px;
        background-color: rgb(4, 159, 243);
        font-size: 100px;
    }

    .add-btn{
        align-content: flex-end;
    }
    input{
        width: 500px;
    }
    button{
        background-color: black;
        color: white;
        margin: 0 10px;
    }
    .modify-btn{
    	display: inline;
    }
    .delete-btn{
    	display: inline;
    }

	.yes-btn{
		display: none;
	}
	.no-btn{
		display: none;
	}
	.change1{
		display: none;
	}
	.change2{
		display: none;
	}
	.change3{
		display: inline;
	}
	.change4{
		display: inline;
	}